.header{
    margin: 0px;
    background-color:rgb(175, 236, 255);
    height: 2cm;
    color: black;
}
head{
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

image{
    background-image: url('assets/NYvlag.png'); 
    float: right;
}

