.header{
    margin: 0px;
    background-color:#C5E7FF;
    height: 2cm;
}
.header h1{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    color: black;
}

.header img{
    float:right;
    width: 5cm;
    height: 2cm;
}
