<div class="background-image"></div>
<div class="content">
    <h2>
        Omgeving
    </h2>
    New York is gelegen in de gelijknamige staat in het noordoosten van de VS. De stad is gesitueerd aan de Hudson River die uitmond in de Atlantische oceaan.
    Door ondermeer dit geografisch voordeel is New York kunnen uitgroeien tot wereldhandelsstad. Het grootste gedeelte van de stad is gebouwd op de eilanden Manhattan, Staten Island en Long Island.
    Het tekort aan ruimte om uit te breiden zorgt voor een 

</div>