body{
    margin: 0px;
    color:black;
}

.background-image{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('assets/NYCity.jpg');
    width: 1925px;
    height: 865px;
    filter: opacity(30%);
    
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
  }